@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Open sans';
    src: url('../font/OpenSans_Condensed-SemiBold.ttf') format('opentype');
  }
  
body {
    min-height: 100vh;  
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h2, h3, p, li, label{
    font-family: 'Open sans';
    src: url('../font/OpenSans_Condensed-SemiBold.ttf') format('opentype');
}

header { 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}

.header {

    background: url("../images 2/girl-with-VR.jpg") center no-repeat;
    background-size: cover;
    min-height: 50vh;
    position: relative;
    color: rgba(239, 233, 174, 1);
    font-size: 0.9rem;
    margin-top: 50px;
}

.header-content {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 100px;
    max-width: 210px;
    background-color: rgba(7, 32, 85, 1);
    padding: 10px 30px;
}
    

h1, nav li, a{
    font-family: "Quicksand";
    src: url("../font/Quicksand-Bold.ttf") format("truetype");
    
}


nav {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 45px;
    background-color: white;
    z-index: 1000;
    right: 0px;  
}

nav li {
    display: block;
    padding: 20px 30px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked ~ nav {
    display: block;

}

.logo {
    width: 200px;
    height: 109px;
    left: 10px;
    top: 0px;
    position: absolute;
    background: url('../images 2/Logo.png');
    background-size: 80%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

header a, footer a {
    color: black;
}

.cta-large {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
    background-color: rgba(239, 233, 174, 1);
    color:black;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 30px;
}

.cta-small {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
    background-color: rgba(0, 31, 84, 1);
    color:white;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 30px;
}

.news {
    max-width: 280px;
    font-size: 0.7rem;
    margin: auto;
  }

.news-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.news-content {
    display: flex;
    flex-direction: column
}

.news img {
    max-width: 100%;
    width: 215px;
    height: 200px;
}

.news h3 {
    max-width: 200px;
    font-size: 1em;
}

.news-elements {
    padding: 17px;
}

.explore { 
    margin: auto;
}

.explore img {
width: 300px;
border-radius: 10px;
margin-bottom: 10px;
}

.kids-p {
    max-width: 280px;
    margin: auto;
  }

.kids-section {
    background-color: rgba(149, 163, 179, 1);
    padding: 2px 0px;
    border-radius: 10px;
    margin-top: 50px;
}

.kids-content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    line-height: 1.5;
}

.kids-content, .teachers-content, .researchers-content > * {
    flex: 1;
}

.kids-text { 
    display: flex;
    flex-direction: column;
}

.kids-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.teachers-content, .researchers-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.teacher-p {
    max-width: 280px;
    margin: auto;
}

.researchers-section {
    background-color: rgba(253, 206, 181, 1);
    border-radius: 10px;
    padding: 2px 0px;
}

.museum-photo {
    background-image: url('../images 2/skeleton-at-museum.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* 100% of the viewport height */
}

/*Exhibitions*/

.exhibition-title {
    background-color: rgba(239, 233, 174, 1);
    border-radius: 10px;
    padding: 1px 120px;
    margin-top: 50px;
}

.special-title {
    background-color: rgba(253, 206, 181, 1);
    border-radius: 10px;
    padding: 1px 120px
}

.exhibition-page {
    max-width: 280px;
    margin: auto;
}

.exhibition-page img {
    width: 250px;
    max-width: 100%;
}

.news-photo {
    border-radius: 10px;
}

.exhibition-column, .information-column  {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    line-height: 1.5;
}

.exhibition-column > * {
    flex: 1;
}

.news-content p {
    max-width: 150px;
}

.news img {
    border-radius: 10px;
}

.orange-square {
    background-color: rgba(253, 206, 181, 1);
    border-radius: 10px;
    padding: 19px 32px;
}

.blue-square {
    background-color: rgba(149, 163, 179, 1);
    border-radius: 10px;
    padding: 11px 32px;
}

.yellow-square {
    background-color: rgba(239, 233, 174, 1);
    border-radius: 10px;
    padding: 11px 32px;
}

.photo-padding {
    padding: 0px;
}

/*contribution page*/

.contribution-text {
    max-width: 800px;
    margin: 0px;
}

.support-text {
    max-width: 450px;
  padding: 0px 60px 0px 0px;
}

.contribution-reasons {
    margin: 0px;
    background-color: rgba(239, 233, 174, 1);
    padding: 12px 73px;
    border-radius: 10px;
}

.contribution-page {
    max-width: 280px;
    margin: auto;
}

.contribution-page img {
    width: 200px;
}

.contribution-column {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    line-height: 1.5;
  }

  .why-contribution-text {
    max-width: 800px;
  }

  .contribution-reasons li {
    line-height: 2;
  }

/*About Page*/

.about-section {
    background-color: rgba(253, 206, 181, 1);
    border-radius: 10px;
    padding: 0px;
    margin-top: 50px;
}

.about-text h1 {
    text-align: left;
}

.about-text {
    max-width: 280px;
    margin: auto;
    text-align: left;
    line-height: 1.5;
    padding: 10px;
}

.about-text img {
    width: 300px;
   display: block;
    margin: auto;
}

/*Contact Page*/

.visit-section {
    background-color: rgba(149, 163, 179, 1);
    padding: 1px 20px;
    border-radius: 10px;
    margin-top: 50px;
}

.visit-text {
    max-width: 280px;
  }

  .hour-section,  .rest-section {
    max-width: 300px;
    margin: 20px;
  }

 .small-widgets  {
    max-width: 20px;
}

  .contact-section {
    background-color: rgba(239, 233, 174, 1);
    padding: 10px 40px;
    border-radius: 10px;
    max-width: 600px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }

  input, 
  select,
  textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  }
  
  textarea {
      min-height: 130px;
      margin-top: 0px;
      min-width: 250px;
  }
  
  .contact {
      max-width: 1000px;
      margin: 50px;
      text-align: center;
  }
  
  .contact-input {
      display: flex;
      text-align: left;
      flex-direction: column;
  }
  
  .contact-input > * {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      max-width: 200px;
  }

  .contact-us {
    max-width: 280px;
    margin: auto;
  }
  /*terms and conditions/ Policy Privacy*/

  .privacy-terms {
    max-width: 1000px;
    margin: auto;
  }

  @media (min-width: 600px){

    .header { 
        margin-top: initial;
        min-height: 70vh;
    }


    header {
        justify-content: space-evenly;
    }

    nav {
    position: static; 
    display: block;
    text-align: center;
    margin-bottom: none;
  }

    nav li {
        display: inline-block;
        padding: 20px 50px;
        margin-bottom: none;
  }

    .news-content, .kids-content, 
    .teachers-content, .researchers-content 
    .exhibition-column, .information-column, .contribution-column {
        flex-direction: row
    }
    .news {
        max-width: 700px;
    }

    .kids-img {
        padding: 0px 30px 10px;
    }

    .kids-p, .teacher-p  {
        max-width: 800px;
      }

    .exhibition-page, .contribution-page, .contact-us {
        max-width: 1000px;
      }

    .exhibition-title, .kids-section, .about-section,
    .visit-section {
        margin-top: initial;
    }

      .orange-square, .blue-square, .yellow-square {
        padding: 11px 12px;
    }

    .contribution-reasons {
        padding: 70px 130px;
}

    .about-section {
        padding: 1px 120px;
    }

    .about-text img {
        padding: 30px;
    }

    .about-text, .visit-text, .rest-section {
        max-width: 600px;
    }

    .visit-text {
        margin: 0px 100px;
    }

    .hour-section, .rest-section{
        margin: 0px 120px;
    }

    .contact-section {
        padding: 10px 110px;
        margin: 0px 110px;
    }

    textarea {
        min-height: 240px;
        margin-top: 20px;
        min-width: 532px;
  }
  
  .small-widgets  {
    max-width: 100%;
    height: 25px;
    padding: 24px 8px;
}
  }