@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Open sans';
    src: url('../font/OpenSans_Condensed-SemiBold.ttf') format('opentype');
  }
  
 
h2, h3, p{
    font-family: 'Open sans';
    src: url('../font/OpenSans_Condensed-SemiBold.ttf') format('opentype');
}

.header {

    background: url("../images 2/girl-with-VR.jpg") center no-repeat;
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: rgba(239, 233, 174, 1);
    font-size: 0.9rem;
}

.header-content {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 100px;
    max-width: 210px;
    background-color: rgba(7, 32, 85, 1);
    padding: 10px 30px;
}
    

h1, nav li{
    font-family: "Quicksand";
    src: url("../font/Quicksand-Bold.ttf") format("truetype");
    
}


nav {
    position: static;
    display: block;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 20px 50px;
}

.logo {
    width: 200px;
    height: 109px;
    left: 10px;
    top: 0px;
    position: absolute;
    background: url('../images 2/Logo.png');
    background-size: 80%;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

header a, footer a {
    color: black;
}

.cta-large {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
    background-color: rgba(239, 233, 174, 1);
    color:black;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 15px 30px;
}

.news {
    max-width: 800px;
    font-size: 0.7rem;
    margin: auto;
}

.news-content {
    display: flex;
    flex-direction: row;
}

.news img {
    width: 200px;
    height: 200px;
}

.news h3 {
    max-width: 200px;
}

.news-elements {
    padding: 10px;
}

.explore { 
    margin: auto;
}

.explore img {
width: 300px
}

.big-pic img {
   width: 1000px;
   height: 800px;
}

.kids-section {
    background-color: rgba(149, 163, 179, 1);
    padding: 30px 20px;
    border-radius: 10px;
}

.kids-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;

}

.kids-text { 
    display: flex;
    flex-direction: column;
}

.kids-img {
    display: flex;
    flex-direction: column;
}

.teachers-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;

}

.researchers-section {
    background-color: rgba(253, 206, 181, 1);
    border-radius: 10px;
    padding: 20px 10px;
}

.researchers-content {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: row;
}